@import "tailwindcss";

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Staatliches;
  src: url(assets/fonts/Staatliches-Regular.ttf);
}

body {
  @apply bg-ghost max-w-dvw;
}

#root {
  @apply font-barlow;
}

@theme {
  --color-mustard: rgba(255, 220, 90, 1);
  --color-ghost: rgba(240, 240, 245, 1);
  --font-barlow: Barlow;
  --font-staatliches: Staatliches;
}

@layer base {
  h1 {
    @apply font-staatliches text-5xl;
  }

  p {
    @apply text-xl;
  }
}

@layer components {
  .bar {
    @apply w-full h-1.5 bg-black;
  }

  .text-shadow {
    text-shadow: -0.75rem 0 var(--color-black);
  }

  .hero-header {
    @apply font-staatliches text-mustard text-8xl sm:text-9xl whitespace-nowrap;
  }

  .p-default {
    @apply p-4 lg:px-8 lg:py-4;
  }
}
