@import "tailwindcss";

@font-face {
  font-family: Barlow;
  src: url(assets/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Staatliches;
  src: url(assets/fonts/Staatliches-Regular.ttf);
}

body {
  @apply bg-raisin;
}

#root {
  @apply font-barlow min-h-dvh;
}

#root > * {
  @apply p-4 xl:px-8 xl:py-4;
}

@theme {
  --color-mustard: rgba(255, 220, 90, 1);
  --color-raisin: rgba(35, 32, 32, 1);
  --color-ghost: rgba(240, 240, 245, 1);
  --font-barlow: Barlow;
  --font-staatliches: Staatliches;
}

@layer components {
  .bar {
    @apply w-full h-1.5 bg-black;
  }

  .text-shadow {
    text-shadow: -0.75rem 0 var(--color-black);
  }

  .hero-header {
    @apply font-staatliches text-mustard text-8xl sm:text-9xl whitespace-nowrap;
  }
}
